

		h1{
			font-size: 150px; color: red; font-family: Georgia; font-weight: initial;
		}

		h2{
			font-size: 30px; color: aqua; font-family: Georgia; font-weight: initial;
		}

		p{
			font-size: 50px; color: red; font-family: Georgia; 
		}

		span{
			color: blue;
		}

		.task1{
			font-size: 30px; color: black; font-family: Calibri; font-weight: initial;
		}

		.task2{
			font-size: 20px; color: black; font-family: Georgia;
		}

